header {
	border-bottom: solid 2px #aaa;
	color: #eee;
	margin-bottom: 22px;
	margin-top: 22px;
	padding-bottom: 22px;
}

img {
	position: absolute;
	right: 0px;
	top: 0px;
    width: 150px;
}

@media only screen and (max-width: 450px) {
	img { width: 100px; }
}
