<article>
  <section id="disclaimer">
    <h2>Disclaimer</h2>
    <p>This tool is to approximate the year of a Squier guitar. This tool in no way validates that a guitar is in fact a Squier. Also due to the use of third party data some dates might be missing. For instance as of 2017.09.27 most serial numbers past 2011 are not included. I am working on adding the most recent years.</p>
  </section>

  <section id="references">
    <h2>References</h2>
    <dl>
      <dt>Primary Resource:</dt>
      <dd><a href="https://www.amazon.com/Squier-Electrics-Fenders-Budget-Guitar/dp/1617130222">
        Squier Electrics 30 years of Fender's budget guitar brand, by Tony Bacon
      </a></dd>
      <dt>Additional Resource: </dt>
      <dd><a href="http://www.guitarrepairbench.com/guitar-dating/korean-fender-serial-number.html">
        guitarrepairbench.com's Guitar Dating: Korean Fender Serial Numbers
      </a> was used to approximate date cut offs when Squier / Fender switched countries or used different prefixes.</dd>
    </dl>
  </section>

  <section id="contributions">
    <h2>Contributions</h2>
    <p>guitarcheck.info is open source if you would like to contribute or view source please visit <a href="https://github.com/richardrissanen/guitarcheck.info">github.com/richardrissanen/guitarcheck.info</a></p>
  </section>
</article>