form {
  margin-left: auto;
  margin-right: auto;
}

fieldset, label, input, select, .alert {  border-radius: 3px; }    

fieldset, label, input, select {
  display: block;
  margin-bottom: 11px;
  margin-top: 11px;
  padding-bottom: 5.5px;
  padding-top: 5.5px;
  width: 100%;
}

input, select {
  color: #222;
  font-size: 1.25em;
  line-height: 1.5em;
}

input {
  width: 96%;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

input[type="submit"] {
  background-color: green;
  background: linear-gradient(lightgreen 0%, green 100%);
  border: 0px transparent none;
  color: #eee;
  margin-top: 33px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  width: 100%;
}

input[type="submit"]:disabled {
  background-color: #555;
  background: linear-gradient(#555 0%, #555 100%); 
  color: #222;
}

label {
  color: #eee;
  margin-bottom: -11px;
}

legend {
  color: #aaa;
  font-size: 1.25em;
  margin-bottom: -5.5px;
  margin-top: 11px;
}

legend span { font-size: 1.5em; }

select {
  background-color: #999;
  background: linear-gradient(#eee 0%, #999 100%);
  border-color: #bbb;
  height: 45px;
  width: 100%;
}

.alert {
  font-family: helvetica, arial, courier, sans-serif;
  margin-top: -10px;
  padding: 7px 0;
  width: 100%;
}

.alert-danger { 
  background-color: #C48080;
  border: 1px solid #C48080;  
  color: #751E1D;
}

.alert p { padding-left: 11px;}

.ng-valid[required], .ng-valid.required  {
  border-left: 4px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 4px solid #a94442;
}